apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-datasources
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      {{- if .Values.grafana.datasources.prometheus.enabled }}
      - name: Prometheus
        type: prometheus
        access: proxy
        url: {{ .Values.grafana.datasources.prometheus.url }}
        isDefault: true
        editable: false
        jsonData:
          timeInterval: "30s"
      {{- end }}
      {{- if .Values.grafana.datasources.loki.enabled }}
      - name: Loki
        type: loki
        access: proxy
        url: {{ .Values.grafana.datasources.loki.url }}
        editable: false
        jsonData:
          maxLines: 1000
      {{- end }}
