apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-config
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  grafana.ini: |
    [server]
    root_url = {{ .Values.grafana.rootUrl }}
    serve_from_sub_path = {{ .Values.grafana.serveFromSubPath }}

    [security]
    admin_user = {{ .Values.grafana.adminUser }}

    [auth]
    disable_login_form = {{ .Values.grafana.auth.disableLoginForm }}

    [auth.anonymous]
    enabled = {{ .Values.grafana.auth.anonymous.enabled }}
    org_role = {{ .Values.grafana.auth.anonymous.orgRole }}

    [analytics]
    reporting_enabled = false
    check_for_updates = false

    [log]
    mode = console
    level = info

    [paths]
    provisioning = /etc/grafana/provisioning
