apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "qbittorrent.fullname" . }}-qbittorrent-conf
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "qbittorrent.labels" . | nindent 4 }}
data:
  qBittorrent.conf: |
    [AutoRun]
    enabled=false
    program=

    [BitTorrent]
    Session\AddTorrentStopped=false
    Session\DefaultSavePath=/downloads/
    Session\Port=6881
    Session\QueueingSystemEnabled=true
    Session\ShareLimitAction=Stop
    Session\TempPath=/downloads/incomplete/
    Session\DiskCacheSize=64
    Session\DiskCacheTTL=60
    Session\MaxConnections=200
    Session\MaxConnectionsPerTorrent=50
    Session\MaxUploads=20
    Session\MaxUploadsPerTorrent=4

    [LegalNotice]
    Accepted=true

    [Network]
    PortForwardingEnabled=false
    Proxy\HostnameLookupEnabled=false
    Proxy\Profiles\BitTorrent=true
    Proxy\Profiles\Misc=true
    Proxy\Profiles\RSS=true

    [Preferences]
    Connection\PortRangeMin=6881
    Connection\UPnP=false
    Downloads\SavePath=/downloads/
    Downloads\TempPath=/downloads/incomplete/
    WebUI\Address=*
    WebUI\ServerDomains=*
    WebUI\LocalHostAuth=false
    WebUI\AuthSubnetWhitelistEnabled=true
    WebUI\AuthSubnetWhitelist=10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16
    WebUI\CSRFProtection=false
    WebUI\ClickjackingProtection=false
    WebUI\HostHeaderValidation=false
