apiVersion: v1
kind: Secret
metadata:
  name: {{ include "oauth2-proxy.fullname" . }}-secret
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "oauth2-proxy.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.config.clientSecret }}
  client-secret: {{ .Values.config.clientSecret | b64enc | quote }}
  {{- else }}
  # Client secret must be provided during installation
  client-secret: ""
  {{- end }}
  {{- if .Values.config.cookieSecret }}
  cookie-secret: {{ .Values.config.cookieSecret | b64enc | quote }}
  {{- else }}
  # Cookie secret must be provided during installation
  cookie-secret: ""
  {{- end }}
