apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: {{ .Values.namespace.name }}
data:
  traefik.yaml: |
    api:
      dashboard: false
      insecure: false

    entryPoints:
      web:
        address: ":8080"

    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      file:
        filename: /etc/traefik/dynamic.yaml

    ping:
      entryPoint: web

    log:
      level: INFO

  dynamic.yaml: |
    http:
      middlewares:
        forward-auth:
          forwardAuth:
            address: "http://traefik-forward-auth.{{ .Values.namespace.name }}.svc.cluster.local:4181"
            authResponseHeaders:
              - X-Forwarded-User
              - X-Auth-User
