apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: traefik
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: web
      port: {{ .Values.service.port }}
      targetPort: web
      protocol: TCP
  selector:
    app.kubernetes.io/name: traefik
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-forward-auth
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: traefik-forward-auth
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 4181
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: traefik-forward-auth
