apiVersion: v1
kind: Service
metadata:
  name: {{ include "sonarr.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "sonarr.labels" . | nindent 4 }}
  {{- with .Values.sonarr.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.sonarr.service.type }}
  ports:
    - port: {{ .Values.sonarr.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "sonarr.selectorLabels" . | nindent 4 }}
