apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: kubarr-db
  labels:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  instances: {{ .Values.instances }}
  storage:
    size: {{ .Values.storage.size }}
    {{- if .Values.storage.storageClassName }}
    storageClass: {{ .Values.storage.storageClassName }}
    {{- end }}
  postgresql:
    parameters:
      {{- range $key, $value := .Values.postgresql.parameters }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
  bootstrap:
    initdb:
      database: {{ .Values.database.name }}
      owner: {{ .Values.database.owner }}
