name: Backend Tests

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Check formatting
        run: docker run --rm "kubarr-backend-test:${{ inputs.image-tag }}" cargo fmt --check

      - name: Clippy
        run: docker run --rm "kubarr-backend-test:${{ inputs.image-tag }}" cargo clippy --all-targets --all-features -- -D warnings
        continue-on-error: true

      - name: Unit tests
        run: docker run --rm "kubarr-backend-test:${{ inputs.image-tag }}" cargo test --verbose
