name: Build

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string

jobs:
  images:
    uses: ./.github/workflows/build-images.yml
    with:
      image-tag: ${{ inputs.image-tag }}

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip install mkdocs-material
      - run: mkdocs build --strict
