name: Frontend Check

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string

jobs:
  check:
    runs-on: self-hosted
    steps:
      - name: Lint
        run: docker run --rm "kubarr-frontend-test:${{ inputs.image-tag }}" npm run lint

      - name: Build
        run: docker run --rm "kubarr-frontend-test:${{ inputs.image-tag }}" npm run build
