name: Publish

on:
  workflow_call:

jobs:
  docker:
    uses: ./.github/workflows/docker-publish.yml
    permissions:
      contents: read
      packages: write
    secrets: inherit

  charts:
    uses: ./.github/workflows/helm-publish.yml
    permissions:
      contents: read
      packages: write
    secrets: inherit
