name: Publish

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string

jobs:
  docker:
    uses: ./.github/workflows/docker-publish.yml
    with:
      image-tag: ${{ inputs.image-tag }}
    permissions:
      contents: read
      packages: write
    secrets: inherit

  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip install mkdocs-material
      - run: mkdocs build --strict
      - uses: actions/upload-pages-artifact@v3
        with:
          path: site
      - id: deployment
        uses: actions/deploy-pages@v4

  charts:
    uses: ./.github/workflows/helm-publish.yml
    permissions:
      contents: read
      packages: write
    secrets: inherit
