name: Test

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string

jobs:
  backend:
    uses: ./.github/workflows/backend-tests.yml
    with:
      image-tag: ${{ inputs.image-tag }}

  frontend:
    uses: ./.github/workflows/frontend-check.yml
    with:
      image-tag: ${{ inputs.image-tag }}
