name: Testing

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string

jobs:
  backend-tests:
    uses: ./.github/workflows/backend-tests.yml
    with:
      image-tag: ${{ inputs.image-tag }}

  frontend-check:
    uses: ./.github/workflows/frontend-check.yml
    with:
      image-tag: ${{ inputs.image-tag }}

  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip install mkdocs-material
      - run: mkdocs build --strict
